 <!-- HEADER -->     
 <div class="line">
   <section>
    <h2>Global Rankings</h2>
    <br>
    <input class="s-12 l-4" type="text" ng-model="search_string" placeholder="Search for Player"></div>
    <br>

    <article class="line">
      <table>
        <thead>
          <tr>
            <th>Rank</th>
            <th>Tag</th>
            <th>Elo</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="player in players | filter:search_string">
            <td>{{$index + 1}}</td>
            <td><a ng-href="#/data/{{player.name}}"><u>{{player.name}}</u></a></td>
            <td>{{player.elo}}</td>
          </tr>
        </tbody>
      </table>


    </article>
  </section>
</div>
<!-- end content -->
